.container-cabecalho{
    display: flex;
    justify-content: center;
    height: auto;
    gap: 8px;
}
.titulo-cabecalho{ 
    font-size: 40px;
    padding: 4px;
    color: #ff704d;
    text-shadow: -5px 3px #e762416b;
}

.navbar {
    background-color: rgb(19, 24, 66);
    display: flex;
    height: auto;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 12px;
    align-items: center;
}

.nav-links a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #dd816a;
    font-weight: 400px;
}

a:hover {
    color: #ff704d;
    text-shadow: -2px 2px #e762416b;
}